.goals-card{

    margin-top:40px;

}

.goal-wrapper{

    position:relative;
    margin-top:50px;

}

.progress-line{

    position:absolute;
    left:8%;
    right:8%;
    top:14px;

    height:4px;

    background:rgba(255,255,255,.15);

    border-radius:10px;

}

.progress-fill{

    width:0%;

    height:100%;

    background:linear-gradient(90deg,#c026d3,#ec4899);

    border-radius:10px;

    transition:1s;

}

.goals{

    display:flex;

    justify-content:space-between;

    position:relative;

}

.goal{

    width:120px;

    text-align:center;

}

.circle{

    width:30px;

    height:30px;

    border-radius:50%;

    margin:auto;

    background:#2d2d36;

    border:3px solid #57576a;

    display:flex;

    align-items:center;

    justify-content:center;

    color:transparent;

    transition:.4s;

}

.goal.active .circle{

    background:#d946ef;

    border-color:#f472b6;

    color:white;

    box-shadow:0 0 25px #d946ef;

}

.goal h4{

    margin-top:18px;

    font-size:20px;

}

.goal p{

    color:#aaa;

    margin-top:5px;

}

@media(max-width:900px){

.goals{

overflow-x:auto;

gap:40px;

padding-bottom:15px;

}

.progress-line{

display:none;

}

}
